@{
    ViewData["Title"] = "Confirmação de apagar o Contato";
}
<div class="text-center">
    <h3>Realmente deseja apagar o contato (Laura Suzany)?</h3>
</div>
<a type="submit" class="btn btn-primary w-100" role="button" asp-controller="Contato" asp-action="Index">Cancelar Exclusão</a>
<a type="submit" class="btn btn-danger w-100" asp-controller="Contato" asp-action="Apagar" role="button">Confirmar Exclusão</a>